$exemple: cyan;
body {
    font-family: sans-serif;
    margin: 0;
    line-height: normal;
    padding-bottom: 50px;
}
.aaa {
    background-color: yellow!important;
}
.page-content {
    margin: auto;
    padding-top: 100px;
    max-width: 1500px;
    padding-right: 298px;
    padding-left: 40px;
    transition: 0.2s;
    @media (max-width: 767px)  {
        padding: 50px 20px;
    }
}
img {
    max-width: 100%;
}
section {
    position: relative;
    // &:before {
    //     content: '';
    //     width: 100%;
    //     border-top: 1px solid lightgray;
    //     margin-top: -10px;
    //     display: block;
    //     position: absolute;
    // }
    > .part {
        border-top: 4px solid lightgray;
    }
}
.key {
    display: inline-block;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 0.8em;
    padding: 0.2em;
    color: #000;
}
/* buttons */
button, .btn {
    font-size: 1em;
    border: 2px solid transparent;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.btn--ex {
    background-color: $exemple;
    border-radius: 30px;
    padding: 10px;
    &:hover {
        border-color: #000;
    }
}
.btn-top, .btn-bottom {
    width: 48px;
    height: 48px;
    font-size: 0.1px;
    color: transparent;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        /* background-color: #fff; */
        background-image: url(../img/arrow-up.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        opacity: 0.5;
    }
    &.active:before {
        opacity: 1;
    }
}
.btn-bottom:before {
    transform: rotate(180deg);
}
.title-play {
    margin-bottom: 19px;
    margin-top: 23px;
}
.btn--close, .btn--config {
    color: transparent;
    width: 48px;
    height: 48px;
    background-color: lightgray;
    margin-bottom: 10px;
    font-size: 8px;
    position: relative;
    background-image: url(../img/x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}
.top-mensage {
    margin-bottom: 30px;
    &--mob {
        display: none;
    }
    @media (max-width: 767px) {
        border: 2px solid red;
        padding: 10px;
        p {
            display: none;
        }
        &--mob{
            display: block;
        }
    }
}

.side-nav {
    position: fixed;
    transition: 0.2s;
    height: auto;
    display: flex;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 10;
    @media (max-width: 767px) {
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    &:not(.open){
        right: -216px;
        @media (max-width: 767px) {
            right: -226px;
        }
        + .page-content {
            padding-right: 78px;
            @media (max-width: 767px) {
                padding-right: 20px;
            }
        }
        .btn--close {
            background-image: url(../img/list.svg);
        }
    }
    ol {
        padding: 0px;
        list-style: none;
        li {
            margin-top: 16px;
            li {
                margin-top: 6px;
                font-size: .9em;
            }
        }
        ol {
            padding-left: 10px;
        }
        a {
            display: block;
            color: #000;
            text-decoration: underline;
            text-underline-position: under;
            @media (hover: hover){
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }
        }
    }
    h2 {
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
    }
    &__menu {
        height: 100%;
        top: 0px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    &__content {
        overflow-y: auto;
        overflow-x: hidden;
        width: 215px;
        height: 100%;
        /* margin: 0 10px; */
        position: relative;
        transition: 0.2s;

    }
    &__aba {
        min-height: 300px;
        width: 100%;
        padding: 10px;
        background-color: lightgray;
        position: absolute;
        right: 0px;
        box-sizing: border-box;
        transition: 0.2s;
    }
    &__aba:not(.active) {
        right: -100%;
    }
     ul {
        list-style: none;
        padding: 0;
    }
}

.part {
    margin-top: 28px;
    border-right: 4px solid lightgray;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    padding: 0 6px 4px 0;
    .part {
        margin-top: 20px;
        &:target:before {
            content: '';
            display: block;
            position: absolute;
            border: 10px solid transparent;
            
            left: -5px;
            opacity: 0;
            top: 50%;
            animation: flash 2s;
            @media (max-width: 767px) {
                left: -2px;
            }
        }
    }
    *:first-child {
        margin-top: 0;
    }
    *:last-child {
        margin-bottom: 0;
    }
    &__head {
        font-size: inherit;
        text-align: left;
        width: 100%;
        position: relative;
        padding-left: 24px;
        margin-left: -24px;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            border: 1px solid #000;
            border-color: transparent #000 #000 transparent;
            margin-top: -7px;
            left: 2px;
            top: 50%;
            transform: rotate(-45deg);
            transform-origin: 7px 7px;
            transition: 0.2s;
        }
        &.open {
            &:after {
                transform: rotate(45deg);
                @media (hover: hover) {
                    opacity: 0;
                }
            }
            &:hover:after {
                opacity: 1;
            }
        }
        &:not(.open) + .part__content {
            height: 0;
            margin-top: 0px;
            margin-top: -35px;
            margin-bottom: 35px;
            // opacity: 0;
            .part:target:before {
                border-bottom-color: #000;
            }
        }
    }
    &__content {
        overflow-y: hidden;
        transition: 0.2s;
        padding-left: 24px;
        margin-left: -24px;
        margin-top: 16px;
    }
}
// .target-alert {
//     border: 8px solid transparent;
//     border-bottom-color: red;
//     position: absolute;
//     bottom: 0px;
//     opacity: 0;
// }

.play {
    display: flex;
    padding: 10px;
    background-color: rgb(202, 202, 202);
    position: relative;
    &__show {
        flex-grow: 1;
        /* min-height: 300px; */
        margin-left: 10px;
        overflow: auto;
        width: 70%;
        background-color: #fff;
        position: relative;
        &__content {
            padding: 10px;
            /* overflow: auto; */
        }
        &__button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &__options {    
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        &__item {
            text-align: left;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.75);
            flex-grow: 1;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            &:hover {
                @media (hover: hover) {
                    background-color: #fff;
                }
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &.active, .active {
                background-color: #fff;
                border-color: #000;
            }
            button{
                padding: 10px;
                border: 2px solid gray;
                margin-left: auto;
                + button {
                    margin-left: 5px;
                }
                &.active{
                    border-color: #000;
                    background-color: #fff;
                }
            }
        }
    }
}
.m-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
@keyframes flash {
    0% {opacity: 0;}
    10% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }